<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <h2>
        Currently
    </h2>
    <p>
        I am currently a Project Manager/Engineer for an electrical company based in Merthyr Tydfil, South Wales,
        with experience managing teams of electricians and overseeing large electrical installation projects from
        inception to completion.
    </p>
    <h2>
        Background
    </h2>
    <p>
        My background in electrical installation, electrical installation design, control panel manufacture, control
        panel design,
        project management inform my mindful but proactive approach to problems.
    </p>
    <h2>
        Passions
    </h2>
    <p>
        I am fueled by a passion for
        understanding all things and consider myself a ‘forever student’ eager to build on my skills in electrical
        theory & project management but also branch out into my next goal of software engineering which has been
        a real passion of mine since a young age.
    </p>
    <h2>
        Achievements
    </h2>
    <p>
        My hunger for knowledge and determination to turn information into action has contributed to my most recent
        success at Zone Electrical, where I have designed & managed electrical installations as part of large contacts
        for heavy-hitting companies, such as Dwr Cymru Welsh Water, Morgan Sindall, Skanska & Mott MacDonald Bentley.
        Meanwhile, I vastly improved the productivity of my team by implementing strategic project management methods
        and ensuring a work-life balance for the company.
    </p>
    <h2>
        Life Style
    </h2>
    <p>
        I believe mindfulness is key to success - a tenet I live out through my interests in
        exercising, cooking, reading and traveling. I have a little pig dog to keep me company also :)
    </p>
    <h2>
        Get in touch
    </h2>
    <p>
        I am always interested in a challenge.
        Reach out to me on one of the platforms linked in the sidebar to the left!!
    </p>
</div>