<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Nathan Wilson, XeppIT">
	<title>{{ page.title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="resources/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

	<!-- Favicons -->

	<!-- Theme -->
	<meta name="theme-color" content="#563d7c">

	<!-- Custom styles for this template -->
	<link href="carousel.css" rel="stylesheet">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/cv">CV</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="blurb">
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
				<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
			</ul>
		</footer>
</body>

</html>